/* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}

.button-divv{
    
    height:50px;
    background-color:#eee;
    display:grid;
    place-items:center;
}

a{
    text-transform:uppercase;
    text-decoration:none;
    font-size:2rem;
    padding:8px ;
    border-radius:5px;
    border:2px solid #000;
    color:#000;
    position:relative;
    overflow:hidden !important;
    z-index:1;
    transition:all 0.3s linear;
}

a::before{
    content:'';
    position:absolute;
    background-color:#000;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transform:translateX(-100%);
    
    transition:all 0.3s linear;
}

a:hover:before{
    transform:translateX(0%);
    z-index:-1;
}

a:hover{
    color:#fff;
} */