.gradient-custom {
    /* fallback for old browsers */
    background: #ffff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(251, 251, 251));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(224, 222, 249), rgb(212, 243, 212))
    }